/*table{
    width:50%;
}
table td {
    
     font-size: 10px;
     padding: -20px;
     text-align: left;
}
table th {   
   
      font-size: 10px;
      padding: -20px;
      text-align: left;
}
table tr {   
      border-left:none;
      border-right: none;  
      padding: -10px;
      text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    size: 5px;
    text-align: left; 
    border-left:none;
    border-right: none;   
}

td {
    text-align: left; 
    border-left:none;
    border-right: none;   
}*/
table{
  font-size: 12px;
  border-left:none;
  border-right: none; 
  border-bottom: 1px solid black;
  margin-right: 15px;
}
td {
    font-size: 12px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 0px;
    text-align: left;
}
th{
   font-size: 12px;
  border-left:none;
  border-right: none; 
  border-bottom: 1px solid black;
   width: 0px;
  text-align: left;
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {

    padding: 0px;
}
@page {
    /* dimensions for the whole page */
    size: A5;    
    margin: 0;
    font-size: 12px;
    margin-left : 15px;
    margin-right: 15px;
}
.icon {
    font-size: 47px;
    color: #5CB85C;
}
.name {
   padding: -15px;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

html {
    /* off-white, so body edge is visible in browser */
    background: #eee;
}

body {
    /* A5 dimensions */
    padding-left: 20px;
    margin-left : 15px;
    margin-right : 15px;
    size: A5;
    font-size: 12px;
    margin-top: 15px;
    padding-top: 15px;
}

/* fill half the height with each face */

