

/*  large devices */
@media (max-width: 1200px) { 
    html{
        font-size:17px;
    }
    .custom-container{
        width:90%;
    }
    .main-nav .nav-item .nav-link{
        padding:0.5rem 1rem;
        font-size:1rem;
    }
    .unicode{
        margin-left:0;
        padding:0 0.2rem;
    }
    .english{
        margin-right:0;
    }
 }

 /* medium devices */
@media (max-width: 992px) {
    html{
        font-size:16px;
    }
    .custom-container{
        width:90%;
    }
    .mid-header .social-icons {
        float:none;
        text-align: center;
    }
    .mid-header .social-icons ul{
        padding:0;
    }
    .unicode{
        margin-left:30rem;
    }
    .more-news-content .media{
        display:block;
    }
    .more-news-content .media .big-media-img{
        margin-bottom:1rem;
        width: 100%;
        height:200px;
    }
    #national-news .media{
        display:block;
    }
    .interview-content .card .card-img-overlay{
        padding:1rem!important;
    }
    .comment-form{
        padding:2rem 3rem;
    }
    
 }

  /* small devices (tablets) */
@media  (max-width: 768px) { 
    html{
        font-size:14px;
    }
    .custom-container{
        width:95%;
    }
    .unicode{
        margin-left:30rem;
    }
    .heading h1{
        width:50%;
    }
   
    
    
    .interview-content .quote-text{
        font-size:1.5rem;
    }
    .more-news-content .media{
        display:block;
    }
    .more-news-content .media .big-media-img{
        margin-bottom:1rem;
        width: 100%;
    }

    .share-section{
        display:block;
    }
    .share-section p{
        display:inline-block;
    }
    .footer-section .design{
        float:none;
    }
    .side-section .time{
        display:block;
    }
    .comment-form{
        padding:2rem;
    }
    
    
   
 }

 
/* extra Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    html{
        font-size:12px;
    }
    .top-header{
        display:none;
    }
    .custom-container{
        width:95%;
    }
    .mid-header .social-icons{
        margin:0 auto;
        text-align: center;
        float:none;
    }
    .mid-header .social-icons ul{
        padding:0;
    }
    .main-nav .navbar .english{
        /* margin-left:8rem; */
    }
    .unicode{
        margin-left:9rem;
    }
    .interview-content .card .card-img-overlay{
        padding:1rem;
    }
    .interview-content .card .card-img-overlay .quote-text{
        font-size:1.25rem;
    }
    .interview-content .more-interview .media .media-img{
        width:100%;
    }
     .card .card-img , .card-img-top{
        height:170px!important;
    }
    
    .category{
        display:none;
    }
    .time{
        display:none;
    }
    .publish-date .time{
        display:inline-block;
    }
    .card-title{
        font-size:1.7rem!important;
    }
    .card-text{
        font-size:1.5rem!important;
    }
    .media .media-body a{
        font-size:1.25rem!important;
    }
    .side-section ul li a{
        font-size:1.25rem!important;
    }
    .share-section{
        display:block;
    }
    .share-section p{
        display:inline-block;
    }
   
    /* #main-post .big .card-title{
        font-size:1.5rem;
    } */
    .heading h1{
        width:60%;
    }
    .view-all{
        top:0.2rem;
        padding:0 0.5rem;
    }
    .more-news-content .media .big-media-img{
        width:100%;
    }
    .more-news-content .media .media-body .media-text{
        display:none;
    }

    .more-news-content .media .media-img {
        margin:0 auto;
    }

    .footer-bottom .design{
        float:none;
    }
    .about-us-content{
        margin:1rem;
    }
    .advertise{
        margin:1rem;
    }
    .contact .contact-title{
        padding:1rem;
    }
    .contact-title h3{
        padding:0;
    }
    .mail-icon{
        font-size:3rem;
    }
    
    .footer-section{
        padding-left:1rem;
        padding-right:1rem;
    }
    .footer-section .footer-links{
        padding-left:0;
    }
    #entertainment ul{
        margin:1rem 0;
    }
    .content{
        margin:0;
    }
    .mid-header .social-icons ul li{
        line-height:1.5rem;
    }
    .comment-form{
        padding:2rem;
    }
    .cards-group .time{
        display:inline-block;
    }
}
