/* 
Project Name: News Portal
Developed by:Online Zeal Pvt. Ltd.
Author: Sunita Rana
 */


html{
    overflow-x: hidden;
}
body{
    margin:0;
    padding:0;
    color:#000;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Mukta', sans-serif;
    box-sizing:border-box;
    font-size:20px;
    line-height:170%;
    counter-reset:serial-counter;
    overflow-x: hidden;

}

/*------COLORS------*/
:root{
 
    --primary:#0e539a;
    --secondary: #DF1B23;
    --darkblue:#07214B;
    --grey:#F0f0f0;
    --black:#000;
    --white:#fff;
    --darkgrey:#8ea0b3;
    --border-grey:#dee2e6;
    --mildgrey:#d3d3d3;
    --fb-color:#3B5998;
    --twitter-color:#38A1F3;
    --mail:#c71610;

}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight:600;
}
h1{
    font-size:2.7rem;
}
h2{
    font-size:2.2rem;
}
h3{
    font-size:1.75rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1.25rem;
}
p{
    font-size:1.2rem;
}
img{
    border-style:none;
    width:100%;
    height:100%;
    object-fit:cover;
}
.card img:hover{
  opacity:0.9;
}
.media-img img:hover{
    opacity:0.85;
}

.relative{
    position: relative;
}
.custom-container{
    width:85%;
    margin:0 auto;
    overflow: hidden;
}
.card , .card-img-top, .card-img{
    border-style:none;
    border-radius:0;
}
.card-text{
    font-weight:bold;
    font-family: 'Mukta', sans-serif;
}
.card-title{
    font-weight:bold;
    font-family: 'Mukta', sans-serif;
}
.media .media-body a{
    line-height:150%;
}
.card .card-body a{
    line-height:150%;
}
.card-body{

}

/* top-header */
.top-header{
    font-size:0.9rem;
    padding:0;
    margin-top:-0.25rem;
}
.top-header .b-news-title{
    display:inline-block;
    color:var(--white);
    background:var(--secondary);
    width:10%;
    margin-top:0;
    padding:0.5rem;
    text-align: center;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.top-header .b-news-content{
    display:inline-block;
    width:89.5%;
    padding:0;
    margin:0;
}
.top-header .b-news-content{   
    display:inline-block; 
    padding:0;
    margin:0;
}

.top-header .b-news-content a{
    color:var(--black);
    padding-right:0.5rem;
    vertical-align:middle;
    font-size:1rem;
}
.top-header .b-news-content a:after{
   content:'|';
   margin-left:0.5rem;
}

.top-header a:hover{
    text-decoration:none;
    color:var(--primary);
}

/* mid-header */
.mid-header{
    padding:0.5rem 0;
}
.mid-header .logo-wrap{
    height:6rem;
    margin:0 auto;
    text-align: center;
}
.mid-header .date-top{
    font-size:1rem;
    margin:-0.5rem;
    padding:0;
}
.mid-header .logo{
    width:16rem;
    margin:0 auto;
}
.mid-header .social-icons{
    float:right;
}


.mid-header .social-icons li:hover{
    background:var(--primary);
}
.mid-header .social-icons ul{
    padding:1rem;
}
.mid-header .social-icons ul li{
    display:inline-block;
    margin-right:0.5rem;
    width:1.8rem;
    height:1.8rem;
    border-radius:100%;
    line-height:1.7rem;
    text-align:center;
    vertical-align:middle;
    background-color:rgba(4,40,100,0.4);
    transition:0.5s;
}
.mid-header .social-icons ul li a{
    color:var(--white);
    font-size:0.8rem!important;
    line-height:inherit;
}

/* main navbar */
.main-nav{
   
}
.main-nav .navbar{
    border-top:2px solid var(--secondary);
    background:var(--grey);
}
.main-nav .navbar{
    position: relative;
    padding:0;
}
.navbar-light .navbar-toggler-icon{
    background:none;
    font-size:1.7rem;
    padding-top:0.5rem;
}
.navbar-light .navbar-toggler:focus{
    outline:none;
}
.main-nav .nav-item .nav-link{
    /* font-weight:bold; */
    color:var(--black);
    padding:0.5rem 1.5rem;
    position: relative; 
    transition:0.3s;
    font-size:1.25rem;
}
.navbar-light .navbar-nav .active>.nav-link {
    color:var(--white);
    background:var(--primary);
    position: relative;
    
}   
.navbar .navbar-nav .active>.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.7rem solid transparent;
    border-top-color:var(--primary);
    border-bottom: 0;
    margin-left: -0.7rem;
    margin-bottom: -0.7rem;
    transition:0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
   background:var(--primary);
   color:var(--white);
   transition:0.3s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.7rem solid transparent;
    border-top-color:var(--primary);
    border-bottom: 0;
    margin-left: -0.7rem;
    margin-bottom: -0.7rem;
 }


.navbar-light .navbar-toggler{
    border-color:transparent;
}
.main-nav ul{
    padding:0;
}
.border-red{
    border-top:2px solid var(--secondary);
}

.drop-btn{
    margin-right:1rem;
}
.unicode{
    color:var(--primary);
    font-size:1rem;
    border:1px solid var(--primary);
    border-radius:0.2rem;
    padding:0.2rem 0.5rem;
    margin-right:1rem;
}
.unicode:hover{
    background:var(--primary);
    color:var(--white);
    text-decoration:none;
}
.unicode i{
    margin-right:0.5rem;
}
.english{
    background:var(--primary);
    color:var(--white);
    /* border-radius:50%;
    height:1rem;
    width:1rem; */
    text-align:center;
    padding:0.2rem 0.5rem;
    margin-right:1rem;
    font-size:0.9rem;
}
.english:hover{
    text-decoration:none;
    color:var(--white);
}

     /* search start  */
     .searching .search-open{
        padding-right:2rem;
        color:var(--black)
    }
    .search-inline {
        width: 100%;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
        height: 10%;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        transition: all .5s ease-in-out;
    }

    .search-inline.search-visible {
        opacity: 1;
        visibility: visible;
        animation: fadeInDown 0.4s ease-in-out;
    }
    .search-inline form input[type="text"]{
        color:var(--white);
        padding-top:1.5rem;
    }
    .search-inline form input::placeholder{
        color:var(--white);
        font-weight:400;
    }
    .search-inline button i{
        background:var(--primary);
    }
    .search-inline button[type="submit"] {
        position: absolute;
        right: 5rem;
        top: 0;
        border: 0px;
        top: 0;
        right: 80px;
        padding:0.8rem;
        cursor: pointer;
        width: 5rem;
        background:var(--primary);
        color:var(--white);
    }

    .search-inline .form-control {
        border: 0px;
        padding-left: 0;
        font-size: 2rem;
        position: absolute;
        left:0;
        top: 0;
        height: 100%;
        width:100%;
        font-weight: 700;
        outline: none;
        border-radius:0;
    }

    .search-inline .search-close {
        position: absolute;
        top: 0;
        right: 0;
        padding:1rem;
        color:var(--secondary);
        width: 80px;
        height: 100%;
        text-align: center;
        display: table;
        background:var(--grey);
        text-decoration: none;
    }

    .search-inline .search-close i {
        display: table-cell;
        vertical-align: middle;
    }

    .search-inline .form-control {
        display: block;
        width: 100%;
        padding:2rem;
        font-size: 1rem;
        color:var(--white);
        background-color:var(--darkgrey);
        background-clip: padding-box;
    
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translate3d(0, -20%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }


.sticky {
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index:999;
    background:var(--primary);
    -webkit-box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);   

  }

  .sticky .navbar{
      position: relative;
      border-style:none;
      background:var(--primary);
  }
  .sticky .navbar-light .navbar-toggler-icon{
   color:var(--white);
}
  .sticky .navbar .navbar-nav .active>.nav-link::after{
    border-top-color:var(--secondary);
}
.sticky .navbar-light .navbar-nav .active>.nav-link {
    background:var(--secondary);
}
.sticky .navbar-light .navbar-nav .nav-link {
    color:var(--white);
}
.sticky .navbar-light .navbar-nav .nav-link:hover {
    background:var(--secondary);
    color:var(--white);
 }
.sticky .navbar .search-icon{
    color:var(--white);
}
.sticky .navbar-light .navbar-nav .nav-link:hover::after{
  border-top-color:var(--secondary);
}
.sticky .unicode{
    color:var(--white);
    border-color: var(--white);
}
.sticky .unicode:hover{
    background:var(--secondary);
    border-color:var(--secondary);
}
.sticky .english{
    background: var(--secondary);
}
.sticky .searching .search-open{
    color:var(--white);
}


/* ad section */
.ad-section .ad-img{
    margin:1rem 0;
}

/* main post */
#main-post{
    margin-top:1.5rem;
}
#main-post .card{
    border-radius:0;
    border-style:none;
}

#main-post .card-img{
    border-radius:0;
}
.big-card-img{
    height:450px!important;
}
.big-card .time{
    font-size:1rem;
}
.big-card .card-img-overlay {
    top:auto;
    right: 0;
    left: 5%;
    bottom:0;
    padding: 1.25rem;
}
.big-card .card-title{
    font-size:2.3rem;
}
.card .card-img-overlay .card-title a{
    color:var(--white);
    transition:0.2s;
}
.card .card-img-overlay .card-title a:hover{
    /* color:var(--darkgrey); */
    text-shadow:2px 2px 2px var(--black);
    text-decoration:none;
}
.card-title{
    text-shadow: 1px 1px 1px var(--black);
}
.category{
    color:var(--white);
    background:rgba(223,27,35,0.8);
    padding:0.1rem 0.6rem;
    font-size:0.9rem;
    margin-right:0.8rem;
}
#main-post .card-text a{
    color:var(--black);
}
#main-post .card-text a:hover{
    color:var(--black);
}

 .time::before{
    content:'\f017';
    font-family: 'font awesome 5 free';
    /* font-weight: 600; */
    padding-right:0.5rem;
    font-size:0.65rem;
    color:var(--secondary);

}
.card-img-overlay .time::before{
    color:var(--white);
}


#main-post .small-cards-wrap .card-img-overlay{
  top:35%;
  bottom:0;
  left:0;
  color:var(--white);
  padding:0;
}
#main-post .card-body{
    padding:0.7rem;
}
#main-post .card-body{
    color:var(--black);
    padding:0.7rem 0;
}
#main-post .card:hover .time{
   text-decoration:none;
}

#main-post .card-img-overlay .time{
    color:var(--white);
}
#main-post .small-cards-wrap .card{
    position: relative;
}
#main-post .small-cards-wrap .card .card-overlay{
    position: absolute;
    bottom:0;
    top:7rem;
}
.card-text a{
    transition:0.2s;
}
#main-post .card .card-body .card-text a:hover{
    color:var(--primary);
    text-decoration:none;
}
#main-post .card-body .time{
    font-size:0.85rem;
    font-weight:300;
}
#main-post .card-img-top{
    border-radius:0;
}
.ad .ad-img{
    margin-bottom:1rem;
}

.ad .ad-img img{
    width:100%;
}

/* Latest News */
#latest-news{
    margin:2rem 0;
}
.heading{
    background-color:var(--grey);
    margin-bottom:1rem;  
    position: relative;  
}

.heading h1 {
    /* height:2rem; */
    color:var(--white);
    width:40%;
    font-size:2rem;
    padding:0.5rem;
    padding-left:1.5rem;
    background-color:var(--primary);
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.heading h1 a{
    color:var(--white)!important;

}
.heading h1 a:hover{
    text-decoration: none;
}

.view-all{
    position: absolute;
    right:1rem;
    top:0.6rem;
    border-radius:1rem;
    padding:0 0.8rem;
    background:var(--darkgrey);
    transition:0.3s;
    /* border:1px solid var(--secondary); */
    /* display:inline-block; */
}
.view-all a{
    color:var(--white) !important;
    font-size:1rem;
    line-height:normal;
}
.view-all:hover{
    background:var(--secondary);
}
.view-all a:hover{
    text-decoration:none;
}
.view-all::after{
    content:'\f101';
    font-family:'Font awesome 5 free';
    font-weight:600;
    font-size:0.9rem;
    color:var(--white);
}

#latest-news .latest-news-.latest-news_content .card{
    color:var(--black);
    border-radius:0;
    border-style:none;
    -webkit-box-shadow: 3px 6px 16px -8px rgba(0,0,0,0.44);
   -moz-box-shadow: 3px 6px 16px -8px rgba(0,0,0,0.44);
    box-shadow: 3px 6px 16px -8px rgba(0,0,0,0.44);
   
}

.latest-news_content .card-body{
    text-align: center;
}
.latest-news_content .card-body a{
    color:var(--black);
}

.card .card-body a:hover{
    color:var(--primary);
    text-decoration:none;
}

.latest-news_content .media{
   /* background: red; */
   border-style:none;
   margin-bottom:1rem;
 }
 .media-img{
   max-width:150px;
   height:100px;
   margin-right:1rem;
}

 .media-img img{
    width:100%;
    height:100%;
    object-fit:cover;
 }
 .media-body a{
     line-height:150%;
 }
 .latest-news_content  .media-body a{
    color:var(--black);
  }

 .media .media-body a:hover{
    color:var(--primary);
    text-decoration:none;
  }
    .time{
    font-size:0.9rem;
    font-weight:300;
  }

  .side-section ul li a{
      color:var(--black);
      font-size:1.1rem!important;
      font-weight:bold;
      line-height:130%;
  }
  .side-section ul li a:hover{
    color:var(--primary);
    text-decoration:none;
}
  .side-section h3{
      background:var(--grey);
      padding:0.7rem ;
      /* margin-bottom:0.7rem; */
  }
  .side-section h3 a{
    color:var(--primary);
  }
  
  .side-section h3 a:hover{
    text-decoration:none;
  }
  
  .side-section .media{
      border-bottom:1px solid #dee2e6;
      margin-bottom:0;
      padding:1rem 0;
      
  }
    .side-section .media-img{
        height:80px;
        width:90px;
        margin-left:0.5rem;   
    }
    .side-section .media-img img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .side-section .time{
        font-size:0.8rem;
    }
/* latest news section end */

/*  national-news*/
#national-news{
    margin:2rem 0;

}
.national-news_content .card{
    border-style:none;
    margin-bottom:1.5rem;
}
 .card .medium-card-img{
  height:350px;
  width:100%;
}
 .card img{
    height:100%;
    width:100%;
    object-fit:cover;
    
 }
 .national-news_content .card .card-img-overlay{
  top:auto;
 }
 .national-news_content .card .card-title{
    text-shadow: 1px 1px 1px var(--black);
   }
 .card .card-img-overlay .time{
     color:var(--white);
 }
  
.media {
  margin-bottom:1rem;
  border-bottom:1px solid #dee2e6;
  padding-bottom:1rem;

}
.national-news_content .media .media-img{
    max-width:150px;
    height:100px;
    margin-right:1rem;
}
.national-news_content a{
    color:var(--black);
}
.side-section .most-commented ul li{
    position: relative;
    border-bottom:1px solid #dee2e6;
    padding:1rem 0;
    padding-left:5rem;
}

.side-section .comments-count{
  color:var(--darkgrey);
  padding:0.5rem;
  position: absolute;
  top:auto;
  left:0;
  font-size:2rem;
  font-weight:bold;
  font-style:normal;
  background-repeat:no-repeat;
}

.side-section .comments-count::after{
    /* display:block; */
    font-size:1rem;
    color:var(--primary);
    font-weight:normal;
    content:'\f4ad';
    font-family:'font awesome 5 free';
    padding-left:0.4rem;
}

.side-section .text{
    font-weight:bold;
    font-size:1rem;
}

/* Interview section */
#interview a:hover{
    text-decoration:none;
}
#interview .heading h1{
    /* margin-bottom:0; */
}
.interview-content{
    background:var(--darkgrey);
    padding:3rem;

}
 .interview-content .card{
     border-style:none;
     border-radius:0;
     width:90%;
     margin:0 auto;
    
 }
 .interview-content .card-img{
     border-radius:0;
 }
 .interview-content .card-img-overlay h2{
   padding-left:3rem;   
 }
 .quote-text{
     position: relative;
 }
 .quote-text::before{
    position: absolute;
    top:0;
    left:0;
    content:"\f10d";
    font-family:"font awesome 5 free";
    font-weight:600;
    color:var(--grey);
    opacity:0.5;
}
.interview-content .card-img-overlay .quote-text::before{
    position: absolute;
    font-size:2rem;
    top:-0.5rem;
}
.interview-content .card .card-img-overlay{
    top:auto;
    background:rgba(0,0,0,0.5);
    padding:1.5rem;
}
.more-interview{
    padding-top:2rem;
    width:90%;
    margin:0 auto;
}
.more-interview a{
    color:var(--white);
    transition:0.2s;
}
.more-interview .media{
    display:inline-block;
    margin-bottom:1rem;
    /* border-style:none; */
}
.more-interview .media-img{
   margin:0 auto;
}
.more-interview .media-body h5{
    font-size:1.5rem;
    padding-top:1rem;
    padding-left:1.7rem;
    position: relative;
}
.more-interview .media-body h5 a{
    color:var(--white);
}
.more-interview .media-body h5 a:hover{
    color:var(--white);
    text-shadow:1px 1px 1px var(--black);
}


#interview .side-section .media-img{
    margin-left:0;
    margin-right:0.8rem;
}
#interview .side-section ul li{
    position: relative;
    padding-left:2rem;
}
#interview .side-section ul li::before{
    position: absolute;
    top:0;
    left:0.5rem;
    content:"\f10d";
    font-size:1rem;
    font-family:"font awesome 5 free";
    font-weight:600;
    color:var(--mildgrey);
}
#interview .side-section ul li:last-of-type::before{
    content:' ';
}
/* interview end */

/*World news section*/
#world-news{
    margin:2rem 0;
}
#world-news .card a{
    color:var(--black);
}
#world-news .card-body{
    padding-left:0;
}
#world-news .media a{
    color:var(--black);
}
#world-news a:hover{
    text-decoration:none;
    color:var(--primary);
}
#world-news .card .medium-card-img{
    height:200px;
}
.card .small-card-img{
    height:160px;
    width:100%;
}
.card .long-card-img{
    height:470px;
}
#world-news .world-news-content .card .card-body{
    padding-left:0;
}


/* entertainment section */
#entertainment a{
    color:var(--black);
}
#entertainment{
    margin-bottom:2rem;
    padding-bottom:2rem;
    background:var(--grey);
}
#entertainment .heading{
    margin-bottom:2rem;
}
#entertainment .card-body{
    padding:1.5rem;
}
#entertainment .card .card-body .card-text a:hover{
    color:var(--primary);
}
#entertainment .media-img{
    margin-right:0;
    margin-left:1rem;
}
#entertainment .media .media-body a:hover{
    color:var(--primary);
}

/* lifestyle section */
#lifestyle .card-deck .card-img-top{
    height:170px;
}
#lifestyle .card a{
    color:var(--black);
}
#lifestyle .card a:hover{
    color:var(--primary);
} 
#lifestyle .card-body{
    padding-left:0;
    padding-right:0;
}

.side-section ul li{
    border-bottom:1px solid var(--border-grey);
    padding:1rem 0.5rem;
    font-size:1rem;
}

#lifestyle .side-section ul li a{
    font-weight:bold;
}
.side-section .blog-posts{
    padding-left:1rem;
    padding-right:1rem;
}
 .side-section .blog-posts li span{
    display:block;
    font-size:0.9rem;
    font-weight:300;
    color:var(--secondary);
    font-style:italic;
}
.side-section .side_view-all{
    font-size:1rem!important;
    color:var(--primary);
    font-weight:300!important;
}
.side-section .side_view-all:hover{
    text-decoration:underline!important;
}
.side_view-all i{
    padding-left:0.5rem;  
}


/* Sports section */
#sports{
    margin-bottom:0.5rem;
}
#sports .big-card .card-img-top{
    height:400px;
}
#sports .card-body{
    padding:1rem 0;
}

#sports a{
    color:var(--black);
}
#sports .card-body{
    padding-left:0;
}
#sports .card .card-body .card-text a:hover{
    color:var(--primary);
    text-decoration:none;
}



/* Footer section */
.footer-section{
    background:url("../img/footer-bg.png");
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:3rem;
    margin-top:2rem;
}
.footer-logo{
    height:160px;
    width:100%;
    /* background:red; */
}
.contact-info{
    padding-top:2rem;
    padding-left:0;

}
.footer-section  li{
    list-style:none;
    padding-bottom:0.5rem;
    color:var(--mildgrey);
    font-size:1.2rem;
}
.footer-section li a{
    color:var(--mildgrey);
    transition:0.2s;
}
.footer-section li a:hover{
    color:var(--white);
    text-decoration:none;
}
.footer-section .contact-info li::before{
    font-family:'font awesome 5 free';
    font-weight:600;
    padding-right:1rem;
    color:var(--white);
    font-size: 1rem;
}

.footer-section .contact-info .name-title{
    font-size:1.2rem;
    font-weight:bold;
    color:var(--white);
}

.location::before{
    content:'\f3c5';  
}
.email::before{
    content:'\f0e0';
}
.phone::before{
    content:'\f095'; 
}
.contact-info li span{
    color:var(--white);
    font-weight:bold;
    padding-right:0.8rem;
}

.footer-links li{
    padding-bottom:1.5rem;
    
}


.newsletter h2{
    color:var(--grey);
    padding-bottom:1rem;
}
.newsletter  .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    border-style:none;
    }
    .newsletter .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary);
    }
    .newsletter .btn {
    min-height: 50px; 
    border-radius:0;
    background:var(--darkblue);
    color:var(--white);
    font-weight:600;
    }
    .newsletter .btn:hover{
     background:var(--darkgrey); 
    }
    .social-icons ul{
        padding:2rem 0;
    }
    .social-icons ul li{
        display:inline-block;
        margin-right:0.5rem;
        width:2.3rem;
        height:2.3rem;
        border-radius:100%;
        line-height:2.3rem;
        text-align:center;
        vertical-align:middle;
        background-color:rgba(4,40,100,0.4);
        transition:0.5s;
    }
    .social-icons ul li:hover{
        background-color:var(--darkgrey);
    }

    .footer-section .social-icons ul li a i{
        font-size:1rem;
        line-height:inherit;
    }
    .footer-section .more-links{
        /* padding:1rem 2rem; */

    }
    .more-links li::before{
        content:'';
        height:0.2rem;
        width:1rem;
        background:var(--darkblue);
        display: inline-block;
        margin-right:0.5rem;   
    }
    .more-links ul li a{
    
    }
    .more-links ul li a:hover{
        text-decoration: none;
    }
    .fb-plugin iframe{
            width:100%;
    }
    
    .footer-bottom{
        /* background:rgba(4,40,100,0.6); */
        border-top:1px solid var(--darkgrey);
        padding:0.7rem 0;
        margin-top:2rem;
    }
    .footer-bottom a{
        color:var(--mildgrey);
    }
    .footer-bottom p{
        margin-bottom:0;
        color:var(--mildgrey);
        font-size:1rem;
        display: inline-block;
        text-align: center;
    }
    .footer-bottom .bottom-links a:after{
        content:'|';
        padding-left:0.5rem;
    }
    .bottom-links a:hover{
        color:var(--white);
        text-decoration:none;
    }
    .footer-bottom .design{
        float: right;
    }
    .footer-bottom .bottom-links a{
      padding-left:0.7rem;
    }
    .design span a{
        color:var(--secondary);
    }

    
   
    /*other pages */
    .page-heading{
        margin:2rem 0;
    }
    .page-heading h1{
        font-size:3rem;
    }
    .content{
        margin:2rem 0;
    }
    .more-news-content{
        /*position:fixed;*/
    }
   
    .content .card .card-title{
        margin-bottom:0;
    }
    .content .more-news-content .time{
        font-size:1rem;
    }
    .content .card-title a{
        color:var(--white);
    }
    .content h2 a:hover{
        text-decoration:none;
    }
    .content .big-card{
        color:var(--white);
        margin-bottom:1rem;
    }
    .content .big-card .card-img{
        height:450px;
    }
    
    .content .medium-card{
        margin-bottom:1rem;
    }
    .content .medium-card .card-img{
        height:215px;;
    }

    .card .card-img-overlay{
        top:auto;
        bottom:0;
        left:0;
    }
   
    .big-media-img{
        width:230px;
        height:170px;
        margin-right:2rem;
    }

    .media-body a{
        color:var(--black);
    }
    .time{
        color:var(--darkgrey);
    }
    .content .side-section p span{

    }

    .more-news-content .media{
        margin:2rem 0;
    }
    .page-item.active .page-link {
        
        background-color:var(--darkgrey);
    }
    .page-item:first-child .page-link{
        border-radius:0;
    }
    .page-item:last-child .page-link{
        border-radius:0;
    }
    .page-link{
        border-style:none;
        padding:.5rem 1.5rem;
        color:var(--primary);
    }
    
    /* news details page */
    .custom-breadcrumb{  
        list-style:none;
        padding-left:0;
    }
    .custom-breadcrumb li {
        display: inline-block;
        font-size:1.1rem;
        color:var(--primary);
    }
    .custom-breadcrumb li a{
        color:var(--darkgrey);
        font-size:1.1rem;
    }
    .custom-breadcrumb li a:hover{
        text-decoration:none;
        color:var(--primary);
    }
    .custom-breadcrumb li a::after{
        content:'/';
        margin-left:0.2rem;
    }
    .publish-date{
        font-size:1.1rem;
        padding-bottom:1rem;
    }
     .writer-name{
        color:var(--primary);
        font-weight:600;
        margin-right:0.8rem;
    }
    .writer-name::before{
        content:"\f007";
        font-family:"font awesome 5 free";
        color:var(--secondary); 
        margin-right:0.5rem;        
    }
    .publish-date .time{
        color:var(--darkgrey);
        font-size:1rem;
    }
    .page-heading .publish-date .time::before{
        font-size:1rem!important;
 
    }
    
    .content .generic-news{
        margin-bottom:2rem;
    }
    .content .generic-news .generic-news-detail{
        padding:2rem 0;
        text-align: justify;
        
    }
    .content .generic-news .generic-news-detail p{
        padding-bottom:1rem;
    }
    .share-section{
      margin-top:1rem;
      display:inline-flex;
    
    }
   
    .share-section p{
        margin-right:1rem;
    }
    .share-section p .total-share{
        font-size:2.5rem;
        font-weight:600;
        color:var(--primary);
    }
    .share-section .share-text{
        font-size:1.2rem;
        padding-left:2rem;
        padding-right:0.5rem;
    }
    .share-section .share-buttons a{
        color:var(--white);
        padding:0.5rem 1.5rem;
        font-size:0.9rem;
        margin-right:0.6rem;
    }
    .share-section .share-buttons a i{
        margin-right:0.5rem;
    }
   
    .share-section .share-buttons .fb{
        background:var(--fb-color);
    }
    .share-section .share-buttons .twitter{
        background:var(--twitter-color);
    }
    .share-section .share-buttons .mail{
        background:var(--mail);
    }
    
    .share-section .share-buttons a:hover{
        text-decoration:none;
        opacity:0.85;
     }
     .comments-section h3{  
         padding-bottom:1rem;

     }
     .comments-section .show-comments {
        
         padding:1rem 2rem 2rem 4.5rem;
         position: relative;
     }
     .comments-section .show-comments .user-name{
         color:var(--primary);
         font-size:1.5rem;
     }
     .comments-section .show-comments .comment-time{
         font-size:0.9rem;
     }
     .comments-section .show-comments .user-comment{
        padding:1rem 0;
        border-bottom:1px solid var(--mildgrey);
    }

     
     .comments-section .show-comments .user-name::before{
        position: absolute;
        left:0;
        content:'\f2bd';
        font-family:'font awesome 5 free';
        font-weight:600;
        padding-left:2rem;
        /* margin-right:1rem; */
        font-size:2rem;
        color:var(--darkgrey);
     }
     .comments-section .post-comment{
         
     }
     .comments-section .post-comment h4{
         color:var(--primary);
         padding:1rem 0;
     }
     .comments-section .comment-form .form-control{
        border:1px solid var(--mildgrey);
     }
     .comments-section .comment-form .form-control:focus{
        border:1px solid var(--twitter-color);
     }
     .comment-form{
         padding:2rem;
     }
     .comment-form .form-group label{
         color:var(--black)!important;
     }
     .comments-section .btn-primary{
         background:var(--primary)!important;
         border-style:none!important;
     }
     .comments-section .btn-primary:hover{
         background:var(--darkgrey)!important;
     }
     
     .content .related-news-content {
         margin-top:2rem;
     }
     .content .related-news-content .card .card-body{
         padding-left:0;
        
     }
     .content .related-news-content .card a{
        color:var(--black);
     }
     .content .related-news-content .card a:hover{
        color:var(--primary);
     }

     .content .side-section .popular{
        padding-left:1rem;
     }
     
     .content .side-section h3{
        margin-top:2rem;
    }

    /* interview page */
    .interview-box{
        background:var(--darkgrey);
        height:250px;
        margin-left:10%;
        margin-bottom:2rem;

    }
    .interview-box h2{
        text-align:center;
        margin-left:20%;
        padding:15% 10%;
       
    }
    .interview-box h2 a{
        color:var(--white);
    }
    .img-circle{
        position: absolute;
        left:-10%;
        top:20%;
        border:0.4rem solid var(--white);
        border-radius:50%;
        height:10rem;
        width:10rem;
    }
    .interview-box .quote-text::before{
        top:30%;
        left:5%;
        font-size:2rem;  
    }
    .more-news-content .media .img-circle{
        height:7rem;
        width:7rem;
        position: static;
    }
    .more-news-content .media .quote-text{
        padding-left:2rem;
    }
    
    .more-news-content .quote-text::before{ 
        color:var(--darkgrey);
        font-size:1.2rem;
    }
    .more-news-content .media .name{
        padding-left:2rem;
        color:var(--secondary);
        font-style:italic;
    }
    .content .tab-section .side-section .media-body{
        padding-left:1rem;
    }
    .content .tab-section .side-section .media-body a{
        font-size:1.25rem!important;
    }
    .content .tab-section .nav-tabs{
        background:var(--grey);
    }
    .content .tab-section .nav-tabs .nav-link{
        color:var(--darkgrey);
        font-size:1.5rem;
        font-weight:600;
        padding:.5rem 1.5rem;
    }
   
    .content .tab-section .nav-tabs .nav-link:hover{
        border-style:none;
      
    }
    .content .tab-section .nav-tabs .nav-link.active{    
        background-color:var(--secondary);
        color:var(--white);
        /* background:var(--grey); */
        border-style:none;
        border-bottom:2px solid var(--secondary);
    }

    /* single interview page */
    .ques-ans .ques{
        position: relative;
        padding-left:2rem;
        margin-bottom:1rem;
    }
    .ques-ans .ques::before{
        position: absolute;
        left:0;
        top:-1rem;
        counter-increment:serial-counter;
        content:counter(serial-counter)  ;
        font-size:3rem;
        color:var(--darkgrey);
        opacity:0.4;
    }
    .ques-ans p{
        padding-left:2rem;
    }

    /* search page */
        .title-container{
          margin:3rem 0;  
        }
        .title-container h1{
            
        }
        .search-result .card-deck{
            margin-bottom:1rem;
        }
        .search-result .card-deck .small-card-img{
            height:200px;
        } 
        .search-result .card-deck .card .card-body{
            padding-left:0;
            padding-right:0;
            
        }
        .search-result a{
            color:var(--black);
        }
        .search-result .time{
            font-size:1rem;
        }

        /* about us page */
        .about-us-wrap{
            padding: 4rem;
            height: 100%;
    
        }
        .about-us-content p span{
            font-weight:bold;
        }
        .advertise{
            margin-top:2.5rem;
            margin-bottom:1rem;
        }
        .contact{
            -webkit-box-shadow: 1px 2px 11px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 11px -3px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 11px -3px rgba(0,0,0,0.75);
            margin:1rem 0;
    
        }
        .contact .contact-title{
            background:var(--darkgrey);
            color:var(--white);
            height:100%;
            width:100%;
            padding:2rem 1rem;
            padding-top:40%;
            text-align:center;
        }

        .mail-icon{
            font-size:5rem;
        }
        .contact-title h3{
            padding:1rem 0;
        }
        .contact-form{
            padding:2rem 4rem;
            background:var(--darkgrey);
        
        }

        .contact-form .form-control{
            border-radius:0;
            border:1px solid transparent;
            height:3rem;
        }
        .contact-form .form-group label{
            color:var(--white);
            font-size:1.25rem;
        }
        .contact-form .form-control::placeholder{
            color:var(--darkgrey);
        }
        .contact-form .form-control:focus{
            box-shadow:none;
        }
        .contact-form .form-group textarea{
            height: 150px;
        }
        .contact-form .btn-primary{
            background-color:transparent;
            border:2px solid var(--white);
            border-radius:1.5rem;
            padding:0.5rem 2rem;
        }
        .contact-form .btn-primary:hover{
            background:var(--primary);
            border-color:var(--primary)
        }



        /*-------------------------------
------Pop-Up--------
------------------------------*/

    #popup_content_wrap {
        width: 100%;
        height: 100%;   
        top: 0;
        left: 0;   
        position: fixed;    
        background:var(--white);
        z-index: 9999999;

    }
    #popup_content {
        width: 40%;
        min-height:400px;
        padding:2rem;
        position: relative;
        top: 10%;
        left: 25%;
        /* overflow: hidden; */

    }
    #popup_content img{
        object-fit: cover;
        height:100%;
        width:100%;
    }
    /* .img-ad{
        width:100%;
        height:500px;
    } */
    .skip-btn{
        position: absolute;
        top:-1rem;
        right:2rem;
        padding:0.5rem 1rem;
        border-radius:0;
    }

    /* blog page */
    .cards-group{
        margin-bottom:2rem;
    }
    .cards-group .card a{
        color:var(--black);
    }
    .cards-group .card a:hover{
        color:var(--primary);
    }
    .cards-group .card .card-body{
       padding-left:0;
       padding-right:0;
    }
    .cards-group .card .card-body h4{
        padding-bottom:1rem;
        border-bottom:1px solid var(--border-grey);
    }
    .cards-group .card .card-body .writer-name{
        font-size:0.9rem;
        }
    .cards-group .card .card-body .time{
       float:right;
    }